<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\Database.mdf;Integrated Security=True"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomBinding_MNBArfolyamServiceSoap" maxReceivedMessageSize="999999999" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mnb.hu/arfolyamok.asmx" binding="basicHttpBinding"
                bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap"
                contract="MNBArfolyamService.MNBArfolyamServiceSoap" name="CustomBinding_MNBArfolyamServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
